nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    text-decoration: none;
    color: rgb(220, 20, 137);
    font-weight: bold;
    font-size: 1.2em;
  }
  nav ul li a:hover {
    color: rgb(1, 47, 250);
  }
  header h1 {
    font-size: 50px;
    text-align: center;
  }
  header {
    background-color: bisque;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .dropbtn {
    background-color: #04aa6d;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  body {
    margin-top: 200px;
  }
  .indent {
    text-indent: 30px;
  }
  